/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #667eea;
  --ifm-color-primary-dark: #5568d3;
  --ifm-color-primary-darker: #4c5fc8;
  --ifm-color-primary-darkest: #3e4ea4;
  --ifm-color-primary-light: #7a8ff1;
  --ifm-color-primary-lighter: #8598f2;
  --ifm-color-primary-lightest: #a3b2f6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8598f2;
  --ifm-color-primary-dark: #6a7ff0;
  --ifm-color-primary-darker: #5c72ee;
  --ifm-color-primary-darkest: #3d55e9;
  --ifm-color-primary-light: #a0b1f4;
  --ifm-color-primary-lighter: #aebdf6;
  --ifm-color-primary-lightest: #d6e1fa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

